margin-top
margin-right
margin-bottom
margin-left


p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

div {
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
